    <div class="ui horizontal divider">
    </div>
    
    <!-- ABOUT -->
    <div class="container footer_special">
        <div class="ui relaxed horizontal list">
            <div class="item">
              <div class="content">
                <a class="header">Terms</a>
              </div>
            </div>
            <div class="item">
              <div class="content">
                <a class="header">Privacy</a>
              </div>
            </div>
            <div class="item">
              <div class="content">
                <a class="header">Security</a>
              </div>
            </div>
            <div class="item">
                <div class="content">
                    <a class="header">Contact dDrive</a>
                </div>
            </div>
          </div>
    </div>

    

</body>
</html>