<%- include('partials/header') %>
    <link rel="stylesheet" href="/stylesheets/header.css" type="text/css">
    <link rel="shortcut icon" href="/images/logo.png" type="image/x-icon">

</head>

<body>

    <div class="container error">
        <h3 style="text-align: center; color: darkred;">Error Occured: </h3>
        <p style="text-align: center; color: darkslategrey;"><%= error %></p>
    </div>

<%- include('partials/footer') %>